<div class="crypto-container">
    <h2>Mes investissements en actions</h2>
  
    <!-- KPI -->
    <div>Total investi : {{ totalInvested | number:'1.2-2' }} €</div>
  
    <!-- Formulaire -->
    <form (ngSubmit)="addAction()">
      <mat-form-field appearance="outline">
        <mat-label>Ticker</mat-label>
        <mat-select [(ngModel)]="newAction.ticker" name="ticker" required>
          <mat-option value="" disabled>— Sélectionner —</mat-option>
          <mat-option *ngFor="let t of tickerList" [value]="t">
            {{ t }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Plateforme</mat-label>
        <mat-select [(ngModel)]="newAction.platform" name="platform" required>
          <mat-option value="" disabled>— Sélectionner —</mat-option>
          <mat-option *ngFor="let p of platforms" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Montant investi (€)</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="newAction.amountInvested"
          name="amountInvested"
          required
        />
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Date d’achat</mat-label>
        <input
          matInput
          type="date"
          [(ngModel)]="newAction.purchaseDate"
          name="purchaseDate"
          required
        />
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Ajouter</button>
    </form>
  
    <mat-divider></mat-divider>
  
    <!-- Filtre -->
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Filtrer</mat-label>
      <input
        matInput
        [(ngModel)]="filterTerm"
        name="filter"
        placeholder="Ticker ou plateforme"
      />
    </mat-form-field>
  
    <!-- Liste -->
    <ul class="crypto-list">
      <li *ngFor="let act of filteredActions" class="crypto-item">
        {{ act.ticker }} ({{ act.platform }}) —
        {{ act.amountInvested | number:'1.2-2' }} €
        le {{ act.purchaseDate }}
        <button mat-icon-button color="warn" (click)="deleteAction(act.id!)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
    <section class="performance-section">
      <h2>Simulateur de rendement avec 1000$ d'investissement initial </h2>
      <app-performance-chart></app-performance-chart>
    </section>
  </div>
  