mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 50px;
    padding-right: 150px;
  }
  
  .logo {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button.active {
    font-weight: bold;
    text-decoration: underline;
  }
  